@mixin flexRow($justify, $align) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin flexColumn($justify, $align) {
  display: flex;
  align-items: $align;
  flex-direction: column;
  justify-content: $justify;
}

@mixin contentContainer() {
  margin: auto;
  width: min(100%, 90rem);
  padding: 0 1rem;
}
