// @import 'tachyons/css/tachyons.min.css';
@import 'tachyons-sass/tachyons';
@import 'variables';
@import './initialForm.scss';
@import './preview.scss';
@import 'loadingPage';
@import 'home';
@import 'getting-started';

$primary: #aec3b0;

input[type='text'] {
  box-sizing: content-box;
}
* {
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#navbar {
  @include flexRow(center, center);
  margin-top: 1rem;
  & img {
    width: 7rem;
  }
}
body {
  background: rgb(252, 252, 252);
}

.persona-first-row {
  display: grid;
}

.designs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  &__item {
    &__img {
      width: 100%;
    }
  }
}
