.initial-form {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 64rem;
}
#personal,
#contact,
#education,
#experience {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
  & h2 {
    grid-column: span 10;
  }
  & .half-width {
    grid-column: span 5;
  }
  & .full-width {
    grid-column: span 10;
  }
  & .form-btn {
    display: flex;
    align-items: center;
  }
}
#personal {
  & #upload-photo {
    grid-column: 1/4;
    grid-row: 2 span;
  }
  & #name,
  #job {
    grid-column: 4/11;
  }
}
.education,
.experience {
  &__item {
    grid-column: span 10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  &__add,
  &__divider {
    grid-column: span 10;
  }
}
