@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

.harvardDesign {
  font-family: 'Noto Serif', serif;
  h1 {
    font-size: 1rem;
    text-align: center;
  }
}
