@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

$h2: 12pt;
$text: 12pt;
.harvardDesign {
  font-family: 'Tinos', serif;
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1,
    .job-title {
      font-size: $text;
    }
    .description {
      margin-top: 1rem;
      font-size: $text;
      text-align: justify;
      max-width: 85%;
    }
  }
  main {
    section {
      margin-top: 1.5rem;
      hr {
        margin: 1rem 0 1rem 0;
      }
      h2 {
        font-size: $h2;
        text-align: center;
      }
      article {
        display: grid;
        gap: 0.25rem;
        margin-bottom: 1rem;
        h3 {
          font-size: $h2;
        }
        .subTitle-row {
          display: flex;
          gap: 2rem;
          justify-content: space-between;
          .date {
            flex: 0 0 auto;
          }
        }
      }
      .skills-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style-position: inside;
        li {
          font-size: $text;
        }
      }
      .achievements-items {
        list-style-position: inside;
      }
    }
  }
}
